@model CreateGameViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="mb-4">Create Game</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data" onsubmit="return validateFileSize()">
                <div asp-validation-summary="All"></div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="form-label mt-4">Category</label>
                    <select class="form-select select2" asp-for="CategoryId" asp-items="Model.Categories">
                        <option></option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SelectedDevices" class="form-label mt-4">Device</label>
                    <select class="form-select select2" asp-for="SelectedDevices" asp-items="Model.Devices" multiple="multiple">
                        <option></option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Cover" class="form-label mt-4">Cover Image</label>
                    <input type="file" class="form-control" asp-for="Cover"
                           data-rule-extension="@FileSettings.FileExtensions.Replace(".", string.Empty)"
                           data-msg-extension="Not allowed extension"
                           data-rule-filesize="@FileSettings.MaxSizeInByte"
                           data-msg-filesize="Maximum allowed size is @FileSettings.MaxSizeInMB MB">
                    <small class="form-text text-muted">Only @FileSettings.FileExtensions files are allowed with max size @(FileSettings.MaxSizeInMB)MB.</small>
                    <span asp-validation-for="Cover" class="text-danger d-block"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Create</button>
            </form>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img id="previewImage" class="cover-preview d-none" alt="Cover" style="max-width: 100%; max-height: 500px;" />
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <partial name="_ValidationScriptsPartial" />
    </div>
</div>

@section Scripts {
    <script src="~/js/GamePhoto.js" asp-append-version="true"></script>
    <script src="~/js/validateFileSize.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "Select an option",
                allowClear: true,
                tags: true,
                width: '100%',
                theme: 'bootstrap-5'
            });

            // Ensure the placeholder is shown when there are no selections
            $('.select2').on('select2:unselecting', function (e) {
                var $this = $(this);
                setTimeout(function () {
                    if ($this.val().length === 0) {
                        $this.select2({
                            placeholder: "Select an option",
                            allowClear: true,
                            tags: true,
                            width: '100%',
                            theme: 'bootstrap-5'
                        });
                    }
                }, 0);
            });
        });

        $('#coverInput').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewImage').attr('src', e.target.result).removeClass('d-none');
            };
            reader.readAsDataURL(this.files[0]);
        });
    </script>
}
